@charset "utf-8";
/* CSS Document */

h1 {
	text-align: center;
	font-size: 300%;
	font-family: Segoe UI;
    	/*src: url(Roboto-Thin.ttf);*/
}

p {
	text-align: left;
	font-size: 150%;
	font-family: Segoe UI;
}

.icons div a img.second {
	display: none;
	float: center;
}

.icons div a:hover img.first  {
	display: none;
	float: center;
}

.icons div a:hover img.second { 
	display: block;
	float: center;
}

.row .icons div {
	height: 50px;
	width: 50px;
	display:inline-block;
}
.row .icons div:hover {
	height: 50px;
	width: 50px;
	display:inline-block;
}

.row a {
	text-decoration: none;
	text-align: center;
    	display: inline;
	font-size: 300%;
	font-family: Roboto;
}